# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.sqlite3
*.db

# Media files
media/

# Static files
staticfiles/

# Secret keys
*.secret

# IDE specific files
.vscode/
*.idea/

# Environment variables
.env

# Virtual Environment
venv/

# Compiled Python files
*.pyc

# macOS folder attributes
.DS_Store
