# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
/media
/static
.env

# Python virtual environment
venv/
*.pyc

# VSCode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
